[submodule "lib/urweb-prelude"]
	path = lib/urweb-prelude
	url = https://github.com/grwlf/urweb-prelude
[submodule "lib/uru3"]
	path = lib/uru3
	url = https://github.com/grwlf/uru3
[submodule "lib/urweb-monad-pack"]
	path = lib/urweb-monad-pack
	url = https://github.com/grwlf/urweb-monad-pack
[submodule "lib/urweb-xmlw"]
	path = lib/urweb-xmlw
	url = https://github.com/grwlf/urweb-xmlw
[submodule "lib/urweb-soup"]
	path = lib/urweb-soup
	url = https://github.com/grwlf/urweb-soup
